<div class="group">
    <div class="groupName">{{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_GROUP_NAME_LINE_AND_AREA }}</div>
    <div class="control checkBox">
        <label for="showDataPoints">{{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_SHOW_DATA_POINTS }}</label>
        <input id="showDataPoints" name="showDataPoints" type="checkbox" value="true"/>
    </div>
</div>
<div class="group">
    <div class="groupName">{{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_GROUP_NAME_SCATTER_AND_BUBBLE }}</div>
    <div class="control checkBox">
        <label for="showScatterLine"> {{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_SHOW_SCATTER_LINE }}</label>
        <input id="showScatterLine" name="showScatterLine" type="checkbox" value="true"/>
    </div>
</div>